html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.navbar.is-info.games-list {
  background-color: #dfbb85;
}

.navbar.is-info.games-list .navbar-brand > .navbar-item {
  color: #B54213;  
}

.navbar.is-info.games-list .navbar-end .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-end .navbar-link:focus, 
.navbar.is-info.games-list .navbar-end .navbar-link:hover, 
.navbar.is-info.games-list .navbar-end > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-end > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-end > a.navbar-item:hover, 
.navbar.is-info.games-list .navbar-start .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-start .navbar-link:focus, 
.navbar.is-info.games-list .navbar-start .navbar-link:hover, 
.navbar.is-info.games-list .navbar-start > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-start > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-start > a.navbar-item:hover {
  background-color: #c9a877;
  color: #B54213;
}

.navbar.is-info.games-list .navbar-brand .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-brand .navbar-link:focus, 
.navbar.is-info.games-list .navbar-brand .navbar-link:hover, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item:hover {
  background-color: #c9a877;
  color: #B54213;
}

.navbar.is-info .navbar-end .navbar-link, 
.navbar.is-info .navbar-end > .navbar-item, 
.navbar.is-info .navbar-start .navbar-link, 
.navbar.is-info .navbar-start > .navbar-item {
  color: #B54213;
}