:root {
	--NBA-VAR-COLOR0-ATL: #e03a3e;
	--NBA-VAR-COLOR0-BOS: #008348;
	--NBA-VAR-COLOR0-BKN: Black;
	--NBA-VAR-COLOR0-CHA: #00788c;
	--NBA-VAR-COLOR0-CHI: #ce1141;
	--NBA-VAR-COLOR0-CLE: #6f2633;
	--NBA-VAR-COLOR0-DAL: #0053bc;
	--NBA-VAR-COLOR0-DEN: #244289;
	--NBA-VAR-COLOR0-DET: #1d428a;
	--NBA-VAR-COLOR0-GSW: #006bb6;
	--NBA-VAR-COLOR0-HOU: #ce1141;
	--NBA-VAR-COLOR0-IND: #fdbb30;
	--NBA-VAR-COLOR0-LAC: #bec0c2;
	--NBA-VAR-COLOR0-LAL: #552583;
	--NBA-VAR-COLOR0-MEM: #5d76a9;
	--NBA-VAR-COLOR0-MIA: #98002e;
	--NBA-VAR-COLOR0-MIL: #00471b;
	--NBA-VAR-COLOR0-MIN: #78be20;
	--NBA-VAR-COLOR0-NOP: #b4975a;
	--NBA-VAR-COLOR0-NYK: #f58426;
	--NBA-VAR-COLOR0-OKC: #ef3b24;
	--NBA-VAR-COLOR0-ORL: #0077c0;
	--NBA-VAR-COLOR0-PHI: #006bb6;
	--NBA-VAR-COLOR0-PHX: #e56020;
	--NBA-VAR-COLOR0-POR: #e03a3e;
	--NBA-VAR-COLOR0-SAC: #5a2b81;
	--NBA-VAR-COLOR0-SAS: #c4ced4;
	--NBA-VAR-COLOR0-TOR: #ce1141;
	--NBA-VAR-COLOR0-UTA: #f9a01b;
	--NBA-VAR-COLOR0-WAS: #e31837;
  --COLOR-TAN: #dfbb85;
  --COLOR-YELLOW: #f9c852;
  --COLOR-BASKETBALL: #B54213;
  --COLOR-DARKERTAN: #c9a877;

}
html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.navbar.is-info.games-list {
  background-color: var(--COLOR-TAN);
}

.navbar.is-info.games-list .navbar-brand > .navbar-item {
  color: var(--COLOR-BASKETBALL);  
}

.navbar.is-info.games-list .navbar-end .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-end .navbar-link:focus, 
.navbar.is-info.games-list .navbar-end .navbar-link:hover, 
.navbar.is-info.games-list .navbar-end > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-end > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-end > a.navbar-item:hover, 
.navbar.is-info.games-list .navbar-start .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-start .navbar-link:focus, 
.navbar.is-info.games-list .navbar-start .navbar-link:hover, 
.navbar.is-info.games-list .navbar-start > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-start > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-start > a.navbar-item:hover {
  background-color: var(--COLOR-DARKERTAN);
  color: var(--COLOR-BASKETBALL);
}

.navbar.is-info.games-list .navbar-brand .navbar-link.is-active, 
.navbar.is-info.games-list .navbar-brand .navbar-link:focus, 
.navbar.is-info.games-list .navbar-brand .navbar-link:hover, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item.is-active, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item:focus, 
.navbar.is-info.games-list .navbar-brand > a.navbar-item:hover {
  background-color: var(--COLOR-DARKERTAN);
  color: var(--COLOR-BASKETBALL);
}

.navbar.is-info .navbar-end .navbar-link, 
.navbar.is-info .navbar-end > .navbar-item, 
.navbar.is-info .navbar-start .navbar-link, 
.navbar.is-info .navbar-start > .navbar-item {
  color: var(--COLOR-BASKETBALL);
}

figure {
  border-radius: 6px;
}

.content .team-figure.media-left {
  margin-bottom: 0;
}

.glist {
  background-color: var(--COLOR-YELLOW);
}

.ATL {
	border: solid 2px var(--NBA-VAR-COLOR0-ATL);
}

.BOS {
	border: solid 2px var(--NBA-VAR-COLOR0-BOS);
}

.BKN {
	border: solid 2px var(--NBA-VAR-COLOR0-BKN);
}

.CHA {
	border: solid 2px var(--NBA-VAR-COLOR0-CHA);
}

.CHI {
	border: solid 2px var(--NBA-VAR-COLOR0-CHI);
}

.CLE {
	border: solid 2px var(--NBA-VAR-COLOR0-CLE);
}

.DAL {
	border: solid 2px var(--NBA-VAR-COLOR0-DAL);
}

.DEN {
	border: solid 2px var(--NBA-VAR-COLOR0-DEN);
}

.DET {
	border: solid 2px var(--NBA-VAR-COLOR0-DET);
}

.GSW {
	border: solid 2px var(--NBA-VAR-COLOR0-GSW);
}

.HOU {
	border: solid 2px var(--NBA-VAR-COLOR0-HOU);
}

.IND {
	border: solid 2px var(--NBA-VAR-COLOR0-IND);
}

.LAC {
	border: solid 2px var(--NBA-VAR-COLOR0-LAC);
}

.LAL {
	border: solid 2px var(--NBA-VAR-COLOR0-LAL);
}

.MEM {
	border: solid 2px var(--NBA-VAR-COLOR0-MEM);
}

.MIA {
	border: solid 2px var(--NBA-VAR-COLOR0-MIA);
}

.MIL {
	border: solid 2px var(--NBA-VAR-COLOR0-MIL);
}

.MIN {
	border: solid 2px var(--NBA-VAR-COLOR0-MIN);
}

.NOP {
	border: solid 2px var(--NBA-VAR-COLOR0-NOP);
}

.NYK {
	border: solid 2px var(--NBA-VAR-COLOR0-NYK);
}

.OKC {
	border: solid 2px var(--NBA-VAR-COLOR0-OKC);
}

.ORL {
	border: solid 2px var(--NBA-VAR-COLOR0-ORL);
}

.PHI {
	border: solid 2px var(--NBA-VAR-COLOR0-PHI);
}

.PHX {
	border: solid 2px var(--NBA-VAR-COLOR0-PHX);
}

.POR {
	border: solid 2px var(--NBA-VAR-COLOR0-POR);
}

.SAC {
	border: solid 2px var(--NBA-VAR-COLOR0-SAC);
}

.SAS {
	border: solid 2px var(--NBA-VAR-COLOR0-SAS);
}

.TOR {
	border: solid 2px var(--NBA-VAR-COLOR0-TOR);
}

.UTA {
	border: solid 2px var(--NBA-VAR-COLOR0-UTA);
}

.WAS {
	border: solid 2px var(--NBA-VAR-COLOR0-WAS);
}

