name: bball-CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Get Dependencies
        run: |
          echo running lein deps...
          lein deps

      # - name: Run Tests
      #   run: |
      #     echo running lein test...
      #     lein test :not-db

      - name: Build App
        run: |
          echo running lein uberjar...
          lein uberjar
        
      - uses: ./.github/actions/ansible
        env:
          DKPASS: ${{ secrets.DKPASS }}
